* {
    box-sizing: border-box;
}

:root {
    --color-primary: #425cbb;
    --color-text-light-grey: #777777;
    --color-text-grey: #7F7F7F;
    --color-text-dark-grey: #4c4c4c;
    --color-black: #000;
    --color-white: #ffffff;
    --color-grey-marker: #787878;
    --color-sub-card: #fafafa;
    --background-black: #222222;
    --font-weight-light: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-weight-dark: 700;
    --color-hover: #23527c;
    --transition-hover: all ease 0.3s;
}
  
body {
    background-color: var(--background-black);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    position: relative;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.f-column {
    flex-direction: column;
}
.f-row {
    flex-direction: row;
}

#wrapper {
    margin: 60px auto 60px auto;
}
.navbar {
    min-height: 70px;
    margin-bottom: 30px;
}
.card {
    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}
.sub-card {
    background-color: var(--color-sub-card);
}
a {
    cursor: pointer;
}
main section:last-child {
    border-radius: 6px;
}
h2 {
    font-size: 13.5pt;
    font-weight: var(--font-weight-bold);
}
h3 {
    font-size: 9pt;
}
h2::first-letter, h3::first-letter {
    text-transform: uppercase;
}
.top-30 {
    margin-top: 30px;
}
main p, #about-me ul {
    color: var(--color-text-dark-grey);
    font-size: 9.75pt;
    line-height: 24px;
}
main section {
    padding: 30px 15px 45px 15px;
}

.headband-container {
    margin: 10px 0 0 10px;
    display: inline-block;
    padding: 0 15px;
}
.headband {
    justify-content: center;
}
.headband a {
    text-decoration: none;
    color: var(--color-primary);
}
.headband a:first-child {
    margin-right: 10%;
}
.headband i, .headband svg {
    font-size: 35px;
}

/************************************************ DESKTOP SECTION START ************************************************/
@media screen and (min-width: 1200px) {
    #wrapper {
        width: 60.94%;
        align-items: flex-start;
    }
    .f-row-m {
        flex-direction: row;
    }
    .profile__container, .tab__container {
        margin: 0 1.28%;
    }
    .profile__container {
        min-width: 22.22%;
        flex-grow: 1;
    }
    .tab__container {
        flex-grow: 0;
    }
}
/************************************************ DESKTOP SECTION END ************************************************/

/************************************************ MOBILE SECTION START ************************************************/
@media screen and (max-width: 1199px) {
    .f-column-s {
        flex-direction: column;
    }
    .profile__container {
        margin-bottom: 30px;
    }
    .headband-container {
        display: flex;
    }
    .headband i, .headband svg {
        font-size: 45px;
    }
}
/************************************************ MOBILE SECTION END ************************************************/

.w-20 {
    width: 20%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}
.w-100 {
    width: 100%;
}
