.navbar__tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar__tabs li {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.navbar__tabs li:last-child {
    margin: 0;
}
.navbar__tabs li a {
    font-size: 10.5pt;
    font-weight: var(--font-weight-dark);
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    text-align: center;
}
.navbar__tabs li .navbar__a {
    color: var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 6px 0 0 6px;
    height: 100%;
    padding: 0 24px;
}
.navbar__a i, .navbar__a svg {
    color: var(--color-white);
    font-size: 15.75pt;
    margin: auto 0;
}
.navbar__social-networks {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}
.navbar__network-a {
    margin-right: 20px;
    text-decoration: none;
    color: var(--color-primary);
}
.navbar__network-a i, .navbar__network-a svg {
    font-size: 18pt;
}

/************************************************ MOBILE SECTION START ************************************************/
@media screen and (max-width: 1199px) {
    .navbar__tabs li {
        margin-right: 5px;
    }
    .navbar__tabs li a {
        padding: 0 5px;
    }
    .navbar__tabs li .navbar__a {
        padding: 0 12px;
    }
    .navbar__network-a {
        margin-right: 10px;
    }
}
@media (max-width: 767px) {
    .navbar__tabs li a {
        font-size: 7.5pt;
    }
    .navbar__network-a i, .navbar__network-a svg {
        font-size: 14pt;
    }
}
/************************************************ MOBILE SECTION END ************************************************/
