@media print {
    .profile__social-network-container,
    header,
    .profile__information li:first-child,
    .headband {
        display: none;
    }

    #wrapper {
        display: block;
    }
    .profile__header {
        margin-bottom: 35px;
        font-size: 20pt;
        font-weight: 600;
    }
    .profile__figure img {
        width: 100%;
    }
    .profile__figure {
        clip-path: none;
        float: left;
        width: 25%;
    }
    .skill__unit h3 {
        font-weight: 400;
        font-size: 11pt;
    }
    .profile__information {
        display: inline-block;
        margin-left: 30px;
        list-style: none;
        padding: 0;
    }
    .profile__information p span {
        font-weight: 600;
    }
    #working-history, #skills {
        break-before: page;
    }
    #working-history .history__title, #education-history .history__title {
        font-size: 13pt;
        font-weight: 600;
        display: block;
    }
    #working-history .history__date, #education-history .history__date {
        font-size: 10pt;
    }
    #working-history p, #education-history p {
        line-height: 17pt;
    }
}
